.hr-alert{
  position: fixed;
  bottom: 10px;
  transition: all .35s ease-in-out;
  right: -100%;
  z-index: 99999;
  background-color: #ddd;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 300px;
  p{
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 10px;
			color: #fff;
  }

  i{
    background: var(--bg-black-100);
    padding-top: 4px;
    padding-left: 6px;
    // padding-right: 4px;
    // padding-bottom: 4px;
    border-radius: 50%;
    font-size: 14px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }
}
.hr-alert.danger{
  background: red;
}
.hr-alert.success{
  background: green;
}
.hr-alert.show{
  right: 10px;
}